$green: rgb(52, 168, 46);
$red: rgb(224, 64, 64);
$yellow: rgb(228, 194, 46);

@import '../../node_modules/bulma/bulma.sass';
// If needed I can overwrite some bulma presets, check this page https://bulma.io/documentation/customize/

html,
body,
#__next {
  height: 100vh;
  overflow-y: auto;
  background-color: whitesmoke;
}

.anon-layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    min-width: 50%;
  }
}

@media (min-width: 769px) {
  .anon-layout .card {
    width: 60%;
  }
}

.fields {
  margin-bottom: 0.75rem;
}

.bordered-notification {
  margin-top: 0.75rem;
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  padding-left: 0.5rem;
  border-left: 0.2rem solid;
  &.is-success {
    border-color: $success;
  }
  &.is-warning {
    border-color: $warning;
  }
  &.is-danger {
    border-color: $danger;
  }
}

// The original spinner can be found here http://tobiasahlin.com/spinkit/
.spinner {
  margin: 100px auto;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 1.0s infinite linear;
  animation: sk-rotate 1.0s infinite linear;
}
.thief, .cop {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #4a4a4a;
  border-radius: 100%;
  -webkit-animation: sk-bounce 1.0s infinite ease-in-out;
  animation: sk-bounce 1.0s infinite ease-in-out;
}
.cop {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.2) }
  50% { -webkit-transform: scale(0.8) }
}
@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  } 50% { 
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
}