$green: rgb(52, 168, 46);
$yellow: rgb(228, 194, 46);
$red: rgb(224, 64, 64);
// $primary: #fe003b; // brand-color 'comme des garcons'

@import '../../node_modules/bulma/bulma.sass';
// If needed I can overwrite some bulma presets, check this page https://bulma.io/documentation/customize/

html,
body,
#__next {
  height: 100%;
  overflow-y: auto;
}

.anon-layout {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    min-width: 50%;
  }
}

@media (min-width: 769px) {
  .anon-layout .card {
    width: 60%;
  }
}

.fields {
  margin-bottom: 0.75rem;
}

.bordered-notification {
  margin-top: 0.75rem;
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  padding-left: 0.5rem;
  border-left: 0.2rem solid;
  &.is-success {
    border-color: $success;
  }
  &.is-warning {
    border-color: $warning;
  }
  &.is-danger {
    border-color: $danger;
  }
}

section.has-navbar-fixed-top {
  margin-top: 3.25rem;
}

// The original spinner can be found here http://tobiasahlin.com/spinkit/
.spinner {
  margin: 100px auto;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 1s infinite linear;
  animation: sk-rotate 1s infinite linear;
}
.thief,
.cop {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #4a4a4a;
  border-radius: 100%;
  -webkit-animation: sk-bounce 1s infinite ease-in-out;
  animation: sk-bounce 1s infinite ease-in-out;
}
.cop {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.2);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  50% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
}

.profile-picture {
  cursor: pointer;
  &.upload-disabled {
    cursor: not-allowed;
    opacity: 0.66;
  }
}

.secondary-picture:not(:last-child) {
  margin-bottom: 1.5rem;
}
.centered-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 5rem;
  margin: auto;
  height: 2.25rem;
}
.centered-div button.is-rounded {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}
.progress {
  border: 0.2rem solid #dbdbdb;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  right: 0;
}
.star-button,
.like-button {
  position: absolute;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  right: 0;
  top: 0;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

@media screen and (max-width: 568px) {
  .column.is-full-tiny {
    flex: none;
    width: 100%;
  }
}

.user-hotbar {
  float: right;
}

@media screen and (min-width: 569px) {
  .user-hotbar {
    float: none;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 358px) {
  .modal .delete {
    display: none;
  }
  .modal-card-title {
    width: 100%;
  }
}

.slider-container {
  // width: 100%;
  input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 0.375rem;
      cursor: pointer;
      background: $info;
      border-radius: 10px;
      border: 1px solid black;
    }
    &::-webkit-slider-thumb {
      border: 1px solid black;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 64px;
      background: whitesmoke;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -8px;
      z-index: 10;
    }
    &:focus::-webkit-slider-runnable-track {
      background: $info;
    }
    &::-moz-range-track {
      width: 100%;
      height: 0.375rem;
      cursor: pointer;
      background: $info;
      border-radius: 10px;
      border: 0.2px solid black;
    }
    &::-moz-range-thumb {
      border: 1px solid black;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 64px;
      background: whitesmoke;
      cursor: pointer;
    }
    &::-ms-track {
      width: 100%;
      height: 0.375rem;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    &::-ms-fill-lower {
      background: $info;
      border: 0.2px solid black;
      border-radius: 10px;
    }
    &::-ms-fill-upper {
      background: $info;
      border: 0.2px solid black;
      border-radius: 10px;
    }
    &::-ms-thumb {
      border: 1px solid black;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 64px;
      background: whitesmoke;
      cursor: pointer;
      height: 0.375rem;
    }
  }
}

.button.pressed {
  box-shadow: inset 0 0 0.25rem 0.025rem $grey-lighter;
}

#google-map {
  margin: 1.5rem 0;
  width: 100%;
  height: 400px;
}

div.circle {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  border-radius: 1rem;
  &.is-success {
    background-color: $green;
  }
  &.is-danger {
    background-color: $red;
  }
  &.profile {
    top: 55%;
    right: 5%;
  }
}
