html,
body,
#__next {
  height: 100%;
  overflow-y: auto;
}

.anon-layout {
  height: 100%;
  background-color: whitesmoke;
  .card {
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 769px) {
  .anon-layout .card {
    width: 60%;
  }
}

.fields {
  margin-bottom: 0.75rem;
}
