@import '../../node_modules/bulma/bulma.sass';
// If needed I can overwrite some bulma presets, check this page https://bulma.io/documentation/customize/

html,
body,
#__next {
  height: 100vh;
  overflow-y: auto;
}

.anon-layout {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fields {
  margin-bottom: 0.75rem;
}
